.search-bar-wrapper {
  border-bottom: 1px solid #3333;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
}
.search-form {
  width: 100px;
  font-size: 14px;
}
.search-form input {
  text-align: center;
  color: #262626;
  border: 1px solid lightgray;
  border-radius: 3px;
  width: 125px;

}
.image-wrapper {
  /* height: 50px; */
}

.logo-image {
  height: 100%;
}

.social-wrapper {
  display: flex;
}

.social {
  width: 30px;
}
